/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal CSS Start */

:root {
  --primary-color: #49af62;
  --secondary-color: #1a1a1a;
  --light-green: #e4f3e8;
  --dim-gray: #696969;
  --white: #ffffff;
  --primary-font: "Urbanist";
  --secondary-font: "Inter";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--secondary-font);
}

/* Universal CSS End */

/* Hero Start */

#hero {
  padding: 50px 0;
  background-color: rgba(73, 175, 98, 0.3);
  position: relative;
  overflow: hidden;
}

.hero_content h1 {
  font-family: var(--primary-font);
  font-size: 4em;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.hero_content h1 span {
  color: var(--primary-color);
}

.hero_content p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  max-width: 500px;
  color: var(--dim-gray);
}

.hero_content p span {
  color: var(--primary-color);
  font-size: 1.2em;
}

.hero_content .hero_img img {
  width: 100%;
  animation: shake 3.5s infinite linear alternate;
  -webkit-animation: shake 3.5s infinite linear alternate;
}

@keyframes shake {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
}

@media screen and (max-width: 990px) {
  .hero_content .hero_img {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .hero_content h1 {
    font-size: 2.2em;
  }
}

/* Hero End */

/* About Start */

#about {
  padding: 100px 0;
}

.about_head h1 {
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
}

.about_head p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: var(--dim-gray);
  margin: 30px 0 50px;
}

.about_wrapper {
  padding: 40px 0;
}

.about_wrapper:last-child {
  padding-bottom: 0;
}

.about_content h1 {
  font-family: var(--primary-font);
  font-size: 2em;
  font-weight: 700;
  color: var(--secondary-color);
}

.about_content p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  color: var(--dim-gray);
  margin-top: 30px;
  margin-bottom: 0;
}

.about_img img {
  width: 90%;
}

@media screen and (max-width: 990px) {
  #about {
    padding: 60px 0;
  }

  .about_head h1 {
    font-size: 2em;
  }

  .about_content h1 {
    font-size: 1.8em;
  }

  .about_img {
    display: none;
  }

  .about_wrapper {
    padding: 30px 0;
  }
}

/* About End */

/* Roadmap Start */

#roadmap {
  padding: 0 0 100px;
}

.roadmap_head h1 {
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
}

.roadmap_head p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: var(--dim-gray);
  margin: 30px 0 50px;
}

.roadmap_card {
  border: 1px solid #e6e7e8;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.roadmap_card h1 {
  font-family: var(--primary-font);
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
}

.roadmap_card p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: var(--dim-gray);
  margin-top: 30px;
  margin-bottom: 0;
}

.roadmap_card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.navigation {
  position: relative;
  width: 150px;
  height: 50px;
  margin: 30px auto 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: inline-block;
  border: 1px solid #e6e7e8;
  padding: 0 22px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border-color: var(--primary-color);
}

@media screen and (max-width: 990px) {
  #roadmap {
    padding: 0 0 60px;
  }

  .roadmap_head h1 {
    font-size: 2em;
  }

  .roadmap_card h1 {
    font-size: 1.8em;
  }
}

/* Roadmap End */

/* Owner and Founder Start */

#owner {
  padding: 0 0 100px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner_card {
  padding: 40px;
  border: 1px solid #e6e7e8;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.owner_img {
  width: 200px;
  aspect-ratio: 1/1;
  background-color: #d9d9d9;
  margin: auto;
  overflow: hidden;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.owner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.owner_details h1 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  margin: 30px 0 20px;
}

.owner_details h4 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1em;
  text-align: center;
}

.owner_details p {
  font-family: var(--secondary-font);
  color: var(--dim-gray);
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  margin: 35px 0 0;
}

@media screen and (max-width: 990px) {
  #owner {
    padding: 0 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .owner_card {
    padding: 30px 20px;
  }
}

/* Owner and Founder End */

/* Testimonial Start */

#testimonial {
  padding: 0 0 100px;
}

.testimonial_head h1 {
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
}

.testimonial_head p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: var(--dim-gray);
  margin-top: 30px;
}

.content-area {
  background: var(--white);
  border-radius: 10px;
  margin: 15px 5px 20px;
  position: relative;
  transition: 0.5s;
}

.owl-dots {
  text-align: center;
  margin-top: 10px;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: #9c9c9c !important;
  display: inline-block;
  margin: 0 6px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: var(--primary-color) !important;
}

.testimonial_card {
  border: 1px solid #e6e7e8;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.testimonial_card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.testimonial_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial_icon .rating a svg {
  width: 25px;
  height: 25px;
}

.testimonial_icon .quote {
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial_icon .quote img {
  width: 22px;
  height: 22px;
}

.testimonial_msg p {
  font-family: var(--secondary-font);
  color: var(--dim-gray);
  font-size: 1em;
  margin-bottom: 0;
  padding: 25px 0;
  border-bottom: 1px solid #9c9c9c;
}

.testimonial_user {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.user_avatar {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
}

.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user_name h4 {
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 1.2em;
  margin-bottom: 6px;
}

.user_name p {
  font-family: var(--secondary-font);
  color: var(--dim-gray);
  font-size: 1em;
  margin-bottom: 0;
}

@media screen and (max-width: 990px) {
  #testimonial {
    padding: 0 0 60px;
  }

  .testimonial_head h1 {
    font-size: 2em;
  }
}

/* Testimonial End */

/* Partners Start */

#partner {
  padding: 0 0 100px;
}

.partner_head h1 {
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
}

.partner_head p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: var(--dim-gray);
  max-width: 600px;
  margin: 30px auto;
}

.partner_card {
  height: 120px;
  display: flex;
  align-items: center;
  border: 1px solid #e6e7e8;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.partner_card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.partner_card img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 990px) {
  #partner {
    padding: 0 0 60px;
  }

  .partner_head h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 576px) {
  .partner_card {
    height: 100px;
    padding: 20px;
  }
}

/* Partners End */
