/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal CSS Start */

:root {
  --primary-color: #49af62;
  --secondary-color: #1a1a1a;
  --light-green: #e4f3e8;
  --dim-gray: #696969;
  --white: #ffffff;
  --primary-font: "Urbanist";
  --secondary-font: "Inter";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--secondary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

/* Universal CSS End */

/* Tobar Start */

#topbar {
  background: var(--secondary-color);
  padding: 20px 0;
}

.topbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_content .topbar_items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.topbar_items li a {
  font-family: var(--secondary-font);
  font-size: 1em;
  color: var(--white);
}

.topbar_content .topbar_btns {
  display: flex;
  align-items: center;
  gap: 80px;
}

.topbar_content .topbar_btns .select_box {
  border: 1px solid var(--white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 1px 6px;
}

.topbar_content .topbar_btns select {
  border: none;
  outline: none;
  background: transparent;
  color: var(--primary-color);
}

.topbar_btns .topbar_btn {
  color: var(--white);
  font-family: var(--secondary-font);
  padding: 6px 15px;
  font-size: 1em;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.topbar_btns .topbar_btn.login_btn {
  border: 1px solid var(--white);
  margin-right: 8px;
}

.topbar_btns .topbar_btn.login_btn:hover {
  color: var(--secondary-color);
  background: var(--white);
}

.topbar_btns .topbar_btn.resister_btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.topbar_btns .topbar_btn.resister_btn:hover {
  background: var(--white);
  border-color: var(--white);
  color: var(--secondary-color);
}

@media screen and (max-width: 990px) {
  .topbar_wrapper {
    justify-content: center;
  }

  .topbar_contact_items {
    display: none;
  }

  .topbar_content .topbar_btns {
    gap: 50px;
  }
}

/* Tobar End */

/* Header Start */

#header {
  background: var(--white);
  padding: 20px 0;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo img {
  width: 200px;
}

.header_wrapper .header_items {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header_items .header_item {
  display: flex;
  align-items: center;
}

.header_item_icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 15px;
}

.header_item_icon img {
  width: 100%;
  height: 100%;
}

.header_item_content h4 {
  font-family: var(--secondary-font);
  font-size: 1.1em;
  color: var(--secondary-color);
  font-weight: 600;
}

.header_item_content p {
  font-family: var(--secondary-font);
  font-size: 1em;
  color: var(--secondary-color);
  margin-bottom: 0;
  font-weight: 500;
}

@media screen and (max-width: 990px) {
  .header_logo {
    display: none;
  }

  .header_wrapper .header_items {
    display: block;
  }

  .header_wrapper .header_item:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Header End */

/* Navbar Start */

.main_navbar {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  background: var(--primary-color);
}
.main_navbar .item-left {
  flex: 0 0 17%;
}

.main_navbar .logo {
  display: none;
}

.main_navbar .logo a {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
.main_navbar .item-center {
  flex: 0 0 66%;
}
.main_navbar .item-right {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}
.main_navbar .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.main_navbar .menu-main {
  display: flex;
  justify-content: space-between;
}

.main_navbar .menu > ul > li {
  display: inline-block;
  line-height: 60px;
}
.main_navbar .menu > ul > li > a {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  color: var(--white);
  position: relative;
  text-transform: capitalize;
  transition: color 0.4s ease;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.main_navbar .menu > ul > li > a > i {
  vertical-align: middle;
  margin-left: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.main_navbar .menu > ul > li:hover a {
  color: var(--secondary-color);
}

.main_navbar .menu > ul > li:hover i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  color: var(--secondary-color);
}

.main_navbar .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (min-width: 992px) {
  .main_navbar .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
}
.main_navbar .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}
.main_navbar .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}
.main_navbar .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}
.main_navbar .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}
.main_navbar .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
}
.main_navbar .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.main_navbar .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.main_navbar
  .menu
  > ul
  > li
  .sub-menu.mega-menu-column-4
  > .list-item:first-child {
  width: 20%;
}

.main_navbar .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  width: 40%;
  padding: 0 15px;
}

.main_navbar .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

/*responsive*/
@media (max-width: 991px) {
  .main_navbar .item-center {
    order: 3;
    flex: 0 0 100%;
  }

  .main_navbar .logo {
    display: block;
  }

  .main_navbar .logo img {
    width: 120px;
    padding: 15px 0;
  }

  .navbar_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main_navbar .menu-main {
    display: block;
  }
  .main_navbar .item-left,
  .main_navbar .item-right {
    flex: 0 0 auto;
  }

  .mega_menu_items li {
    border-bottom: none !important;
    padding: 10px 0 !important;
  }

  .mega_menu_items li:first-child {
    padding-top: 10px;
  }

  .mega_menu_items li:last-child {
    padding-bottom: 10px;
  }

  .main_navbar .menu > ul > li > a {
    font-size: 1em;
    color: var(--secondary-color);
  }

  .main_navbar .menu > ul > li:hover i {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  .main_navbar .mobile-menu-trigger {
    display: flex;

    cursor: pointer;
    align-items: center;
    justify-content: end;
  }
  .main_navbar .mobile-menu-trigger img {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
  }

  .main_navbar .item-right {
    align-items: center;
  }

  .main_navbar .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .main_navbar .menu.active {
    transform: translate(0%);
  }
  .main_navbar .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .main_navbar .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main_navbar .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
  }
  .main_navbar .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .main_navbar .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }
  .main_navbar .menu .mobile-menu-head.active .go-back {
    display: block;
  }
  .main_navbar .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .main_navbar .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
  }
  .main_navbar .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .main_navbar .menu > ul > li .sub-menu.mega-menu,
  .main_navbar .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
  }
  .main_navbar .menu > ul > li .sub-menu.active {
    display: block;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .main_navbar
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item:first-child {
    width: 100%;
  }

  .main_navbar .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    padding: 0;
    width: 100%;
  }
  .main_navbar .menu > ul > li .sub-menu > ul > li > a,
  .main_navbar .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }
  .main_navbar .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 15px;
  }

  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }

  .mega_menu_items li a {
    gap: 8px !important;
    padding: 15px 8px !important;
  }

  .mega_menu_icon {
    width: 40px !important;
  }

  .mega_menu_item h4 {
    font-size: 0.95em !important;
    margin-bottom: 5px !important;
  }

  .mega_menu_item p {
    font-size: 0.9em !important;
  }
}

.main_navbar .menu > ul > li .single-column-menu {
  display: flex;
  gap: 30px;
}

.mega_menu_items li a {
  display: flex !important;
  align-items: center;
  gap: 15px;
  padding: 15px !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
}

.mega_menu_items li a:hover {
  background: var(--light-green);
}

.mega_menu_items li {
  border-bottom: 1px solid #9c9c9c;
  padding: 10px 0;
}

.mega_menu_items li:first-child {
  padding-top: 0;
}

.mega_menu_items li:last-child {
  border: none;
  padding-bottom: 0;
}

.mega_menu_icon {
  width: 70px;
  flex-shrink: 0;
}

.mega_menu_icon img {
  width: 100%;
}

.mega_menu_item h4 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 10px;
}

.mega_menu_item p {
  font-family: var(--secondary-font);
  color: var(--dim-gray);
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .main_navbar .menu > ul > li > a {
    font-size: 14px;
  }
}

/* Footer Start */

#footer {
  background: var(--secondary-color);
  padding-top: 30px;
  padding-bottom: 60px;
}

.footer_content h4 {
  font-family: var(--primary-font);
  font-size: 1.5em;
  font-weight: 600;
  color: var(--white);
  margin: 30px 0;
}

.footer_items li:not(:last-child) {
  padding-bottom: 15px;
}

.footer_items li a {
  text-decoration: none;
  font-family: var(--secondary-font);
  color: var(--white);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.footer_items li a:hover {
  color: var(--primary-color);
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--dim-gray);
  margin-top: 50px;
}

.footer_information {
  margin-top: 50px;
}

.footer_information_item h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 2.2em;
  color: var(--white);
  margin-bottom: 40px;
}

.footer_location {
  display: flex;
  align-items: start;
  margin-bottom: 30px;
}

.footer_information_item ul li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer_information_item ul li:last-child {
  margin-bottom: 0;
}

.footer_location span,
.footer_information_item ul li a {
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1em;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.footer_location span:hover,
.footer_information_item ul li a:hover {
  color: var(--primary-color);
}

.footer_info_icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  flex-shrink: 0;
}

.footer_info_icon svg {
  width: 100%;
  height: 100%;
}

.footer_about p {
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1em;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 15px;
}

.footer_payment_icon {
  padding: 0 20px;
}

.footer_payment_icon img {
  width: 100%;
}

.footer_social h4 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.4em;
  color: var(--white);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer_social_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer_social_items li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.footer_social_items li a svg {
  width: 20px;
  height: 20px;
}

.footer_social_items li a:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

@media screen and (max-width: 990px) {
  .footer_information_item h2 {
    font-size: 2em;
  }
}

/* Footer End */

/* Copyright Start */

#copyright {
  background: #000000;
  padding: 25px 0;
}

.copyright_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright_text p {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 1em;
  margin-bottom: 0;
}

.copyright_text p span {
  font-weight: 600;
}

.copyright_items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.copyright_items li a {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 1em;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.copyright_items li a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
  .copyright_text p {
    font-size: 14px;
  }

  .copyright_items li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 990px) {
  .copyright_wrapper {
    display: block;
    text-align: center;
  }

  .copyright_text p {
    margin-bottom: 10px;
  }

  .copyright_items {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .copyright_items {
    column-gap: 20px;
    row-gap: 5px;
  }
}

/* Copyright End */

/* Back to Top Start */
#bottom-top .bottom-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99999;
  display: none;
  transition: all linear 0.3s;
  -webkit-animation: btp 1s linear;
  animation: btp 1s linear;
  border: 1px solid var(--white);
}
#bottom-top .bottom-to-top .btt-icon {
  font-size: 20px;
  color: var(--white);
  transition: all linear 0.3s;
}
#bottom-top .bottom-to-top:hover {
  background-color: var(--secondary-color);
  color: var(--white);
  transform: scale(1.2);
}

#bottom-top .bottom-to-top:hover .btt-icon {
  color: var(--white);
}
@-webkit-keyframes btp {
  0% {
    bottom: 85%;
    right: 15px;
  }
  100% {
    right: 15px;
    bottom: 15px;
  }
}
@keyframes btp {
  0% {
    bottom: 85%;
    right: 15px;
  }
  100% {
    right: 15px;
    bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  #bottom-top {
    display: none !important;
  }
}

/* Back to Top End */
