/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal CSS Start */

:root {
  --primary-color: #49af62;
  --secondary-color: #1a1a1a;
  --light-green: #e4f3e8;
  --dim-gray: #696969;
  --white: #ffffff;
  --primary-font: "Urbanist";
  --secondary-font: "Inter";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--secondary-font);
}

/* Universal CSS End */

/* Hero Start */

#hero {
  padding: 100px 0;
  background-color: rgba(73, 175, 98, 0.3);
  position: relative;
  overflow: hidden;
}

.hero_content h1 {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 4em;
  font-weight: 700;
  color: var(--secondary-color);
}

.hero_content p {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  color: var(--secondary-color);
  margin-top: 30px;
  margin-bottom: 0;
}

@media screen and (max-width: 990px) {
  .hero_content h1 {
    font-size: 2.2em;
  }
}

/* Hero End */

/* Terms Of Policy Start */

.terms_content {
  padding: 80px 0;
}

/* Terms Of Policy End */

/* Testimonial Start */

#testimonial {
  padding: 0 0 100px;
}

.testimonial_head h1 {
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
}

.testimonial_head p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: var(--dim-gray);
  margin-top: 30px;
}

.content-area {
  background: var(--white);
  border-radius: 10px;
  margin: 15px 5px 20px;
  position: relative;
  transition: 0.5s;
}

.owl-dots {
  text-align: center;
  margin-top: 10px;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: #9c9c9c !important;
  display: inline-block;
  margin: 0 6px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: var(--primary-color) !important;
}

.testimonial_card {
  border: 1px solid #e6e7e8;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.testimonial_card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.testimonial_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial_icon .rating a svg {
  width: 25px;
  height: 25px;
}

.testimonial_icon .quote {
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial_icon .quote img {
  width: 22px;
  height: 22px;
}

.testimonial_msg p {
  font-family: var(--secondary-font);
  color: var(--dim-gray);
  font-size: 1em;
  margin-bottom: 0;
  padding: 25px 0;
  border-bottom: 1px solid #9c9c9c;
}

.testimonial_user {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.user_avatar {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
}

.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user_name h4 {
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 1.2em;
  margin-bottom: 6px;
}

.user_name p {
  font-family: var(--secondary-font);
  color: var(--dim-gray);
  font-size: 1em;
  margin-bottom: 0;
}

@media screen and (max-width: 990px) {
  #testimonial {
    padding: 0 0 60px;
  }

  .testimonial_head h1 {
    font-size: 2em;
  }
}

/* Testimonial End */

/* Newsletter Start */

#newsletter {
  background: linear-gradient(270deg, #1a1a1a, #0f9d87);
}

.newsletter_img {
  padding-top: 50px;
}

.newsletter_img img {
  width: 70%;
}

.newsletter_content h1 {
  font-family: var(--primary-font);
  font-size: 3em;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 30px;
}

.newsletter_content p {
  font-family: var(--secondary-font);
  font-size: 1em;
  color: var(--white);
}

.newsletter_items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 50px;
}

.newsletter_icon {
  width: 90px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-green);
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.newsletter_item:hover .newsletter_icon {
  background: var(--primary-color);
}

.newsletter_icon svg {
  width: 50px;
  height: 50px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.newsletter_icon svg path {
  fill: var(--primary-color);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.newsletter_item:hover path {
  fill: var(--white);
}

.newsletter_item p {
  font-family: var(--secondary-font);
  font-size: 1.1em;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
}

@media screen and (max-width: 1200px) {
  .newsletter_items {
    column-gap: 50px;
    row-gap: 20px;
  }

  .newsletter_icon {
    width: 70px;
  }
}

@media screen and (max-width: 990px) {
  .newsletter_items {
    justify-content: center;
    margin-bottom: 50px;
  }

  .newsletter_img {
    display: none;
  }

  .newsletter_content h1 {
    font-size: 2em;
    margin-top: 50px;
    text-align: center;
  }

  .newsletter_content p {
    text-align: center;
  }

  .newsletter_icon {
    width: 90px;
  }
}

/* Newsletter End */
